:root {
  font-family: 'Josefin Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(46, 46, 46);
  justify-content: center;
}

header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

span {
  color: rgb(251, 69, 76);
}

article {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

img {
  height: 80vh;
  width: 80vw;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

main {
  display: flex;
  justify-content: center;
  padding-right: 1.5rem;
}

.NavList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-right: 1.5rem;
}

.NavItems,
a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(104, 103, 103);
}

.Mobile {
  color: rgb(207, 207, 207);
  padding-left: 0.5rem;
}

nav li {
  padding-top: 0.6rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

button {
  align-self: center;
  color: whitesmoke;
  background-color: black;
  border-color: black;
  width: 7rem;
  height: 3rem;
  text-align: center;
}

.Footer {
  font-size: 2.75rem;
  color: rgb(207, 207, 207);
}

.Tul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.TButton {
  align-self: right;
  color: whitesmoke;
  background-color: black;
  border-color: black;
  width: 7rem;
  height: 3rem;
  text-align: center;
  margin-right: 1.5rem;
  margin-top: -1.5rem;
}

.Tablet {
  display: none;
}

.Mission {
  color: rgb(207, 207, 207);
}

.TNavItem {
  color: aqua;
}
h3 {
  font-size: 0.15rem;
}
.Acula {
  color: rgb(207, 207, 207);
}
.DNav {
  visibility: hidden;
}
.NavList2 {
  display: none;
}

@media (min-width: 768px) {
  /* CSS for tablets */
  .DNav {
    visibility: hidden;
  }
  .NavList2 {
    display: none;
  }

  .Mobile {
    display: none;
  }

  img {
    height: 29vh;
    width: 45vw;
  }
  .BodyList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }

  .Tablet nav li a {
    color: aqua;
    font-size: 1rem;
  }

  .Mission {
    margin-top: 2rem;
    max-width: 39rem;
  }

  .Tablet {
    display: inherit;
  }

  ul.Tul {
    width: 100%;
  }
}

@media (min-width: 1025px) {
  /* CSS for desktop. */
  .BodyItem {
    visibility: hidden;
  }

  .BodyList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }

  .Tablet nav li a {
    color: aqua;
    font-size: 1rem;
  }

  .Mission {
    margin-top: 2rem;
  }

  ul.Tul {
    width: 100%;
    visibility: visible;
  }
  .MainNav {
    display: none;
  }

  .DNav {
    visibility: visible;
  }

  .NavList2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .NavItem2 {
    padding-inline: 0.5rem;
  }

  .Image1 {
    background-image: url('/images/image-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 56vh;
    width: 46vw;
    align-content: center;
    justify-content: center;
  }
  .Image2 {
    background-image: url('/images/image-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 56vh;
    width: 46vw;
    align-content: center;
    justify-content: center;
  }
  .Image3 {
    background-image: url('/images/image-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 56vh;
    width: 29vw;
    align-content: center;
    justify-content: center;
  }
  .Image4 {
    background-image: url('/images/image-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 56vh;
    width: 29vw;
    align-content: center;
    justify-content: center;
  }
  .Image5 {
    background-image: url('/images/image-5.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 56vh;
    width: 29vw;
    align-content: center;
    justify-content: center;
  }
  .Image6 {
    background-image: url('/images/image-6.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 56vh;
    width: 100vw;
  }
  .Image7 {
    background-image: url('/images/image-7.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 45vw;
  }
  .Image8 {
    background-image: url('/images/image-8.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 45vw;
  }
  ul.BodyList div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
